@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
}

:root {
  --app-background: #222831;
  --container: #31363f;
  --sub-title: #76abae;
  --text: #eeeeee;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--app-background);
}

h1,
h2,
h3,
h4 {
  color: var(--sub-title);
}
p,
a {
  color: var(--text);
}
p {
  text-align: justify;
  margin: 0;
}

#app {
  font-family: "Poppins", sans-serif;
  height: 100dvh;
  /* margin: 1rem; */
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
